<app-banner [title]="'Transportation'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/TRANSPORT.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center my-4">Transportation</h2>
        <p class="text-justify">Transport facilities for the student are made available by the institution. The institution provides comfortable & safe pickup and drop services to the students, faculties and staffs. The scheduled and timely arrival and departures of the buses and vans ensure timely pickup and drop off to and from the college campus. The residential campuses with an enviable ambience are situated in the outskirts of Bangalore, and we provide free shuttle services to and from the city on weekdays and weekends allowing the students convenient access.
             
            </p>

      </div>
    </div>