<app-banner [title]="'Canteen'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/canteen.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center my-4">Canteen</h2>
        <p class="text-justify">A well–stocked cafeteria that has numerous choices of cuisines to tingle the taste buds of the students is the lifeblood of any educational institute. Mallige's cafeteria, which not only has a great ambience but also many cuisine choices of food from across the world, remains a focal point for the rest, refreshment and relaxation of the students. Right from various choices for food and energy drinks to an exclusive ice–cream counter and even an on–campus Café Coffee Day, the cafeteria is a place of delight and invigoration for the people on the campus. Here taste, hygiene and nutrition go hand in hand in equal measure, none exclusive of the other.
             
            </p>

      </div>
    </div>