<app-banner [title]="'Sports'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/yoga.jpeg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">When it comes to sports and extracurricular activities, the college gives equal prominence and importance to it as much as they do to academics. The college has extensive sports facilities for many sports right from volleyball, basketball, and badminton to football and the all–time–favourite cricket. Evenings see a flurry of activity on the grounds of the college with students playing various sports and many even enjoying as an interested audience. There is also an on–campus basketball court for the students to develop their talent. There are many sports clubs for different activities too, and they see active participation from the students and encouragement from the college faculty.<br><br>
            Apart from sports, the college also encourages and motivates its students to participate in many extracurricular activities. The college has many cultural clubs and societies such as the anti ragging cell, the hobby club, the literary club, the IT club, NSS clubs, cultural clubs, and musical bands. The college also has developmental cells such as the Women’s Development Cell, as well as academic clubs.<br><br>
            
            The campus has fully equipped fitness zone and students are encouraged to stay fit and healthy with periodic advices from trainers.
            </p>

      </div>
    </div>