<app-banner [title]="'Admissions'"></app-banner>
<div class="container">
    <h3 class="my-5">Eligibility for Admission</h3>

<div class="bsc"data-aos="zoom-out"data-aos-duration="1000">
<h4>BSc Nursing</h4>
<p class="text-justify">A candidate should have passed B. Pharm degree examination of RGUHS or B. Pharm examination of any recognized Indian University as established by law in India or should have completed any other degree courses in pharmacy recognized as equivalent by RGUHS University or Pharmacy Council of India,(PCI) and/or All India Council of Technical Education (A I.C.T.E,) for this purpose and should have secured not less than 50% of the maximum marks (aggregate of four years) prescribed for the qualifying examination. Then she/he shall be eligible for admission to the M. Pharm course. For SC / ST / Category-I(Karnataka) candidates must have a degree in B. Pharm.</p>
</div>

<div class="msc"data-aos="zoom-out"data-aos-duration="1000">
    <h4>Msc Nursing</h4>
    <p class="text-justify">Candidates should have passed 10+2 examination with Physics and Chemistry as compulsory subjects along with one of the following - Mathematics / Computer Science / Biotechnology / Biology. Obtained at least 40% marks (35% in case of candidate belonging to reserved category) in the above subjects taken together. Candidates who have passed D.Pharm course approved by Pharmacy Council of India shall also be eligible to this course and can be admitted directly to III Semester B. Pharm.

    </p>
</div>

<div class="diploma"data-aos="zoom-out"data-aos-duration="1000">
    <h4>Diploma Nursing</h4>
    <p class="text-justify">Minimum Qualification for admission to Diploma in Pharmacy is to have passed in any of the following examinations with Physics, Chemistry and Biology or Mathematics.</p>
    <ol type="1" style="list-style-type: decimal;">
      <li>Intermediate examination in Science</li>
      <li>10+2 Examination (academic stream)</li>
      <li>Pre-degree examination</li></ol>
      <p>Any other qualification approved by the Pharmacy Council of India or equivalent to any of the above examinations.</p>
    
  </div>
  

<div class="procedure"data-aos="zoom-out"data-aos-duration="1000">
    <h4>Admission Procedure</h4>
    <p>The following ORIGINAL documents are necessary during the time of admission.</p>
    <ol type="1" style="list-style-type: decimal;">
        <li>10+2 (PUC) or D. Pharm or B. Pharm mark sheet (As applicable)</li>
        <li>10 th board examination mark sheet</li>
        <li>Transfer Certificate (TC) from the institution last studied</li>
        <li>Migration certificate from the Board/University</li>
        <li>Character and conduct certificate</li>
        <li>Birth Certificate</li>
        <li>Three passport size photographs</li></ol>
        <p>For admission, the candidate himself / herself or along with parents / guardian should meet the principal in the college office with the documents.</p>
</div></div>