<app-banner [title]="'Hostel'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/hostel.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">Mallige hostel offers comfortable stay for the students within the campus during their course of study. The hostel is clean and comfortable and each room is provided with adequate facilities for stay and study. The hostel has a visitor’s lounge, recreation hall, prayer hall facilities for indoor games, magazines, reading and television.</p>
        
            <ol class="list" ><p>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	24*7 water supply & electricity</li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	Mess facilities are available with a well maintained dining hall adjacent to the hostel</li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	Vegetarian/non vegetarian meals are prepared hygienically and served aesthetically & safe drinking water</li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	The rooms are well furnished, spacious and attached with bathrooms in the campus with security. </li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	Hostel facility is ideal for pursuing academic goals. </li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	Power backup with CCTV Hot water facility Mess Parking Medical facilities / first aid </li>
            <li><i class="fa-solid fa-bed fa-sm" style="color: #1cb582;"></i>	24*7 security</li></p>
        </ol>
             
            

      </div>
    </div>