<app-banner [title]="'Clinical Facilities'"></app-banner>
<div class="container">
    <h2 class="text-center my-4">Clinical Facilities</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/image4.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">Our clinical sessions provide a strong foundation for students to learn and experience the real medical situation under complex and high demanding environment in our Own Multispecialty Hospital. These Hospital is our pillar of strength in the practical training and the collaboration with the Hospital make us even more of a competent Institution by providing the best in class clinical training for Mallige Students under the close supervision of our own Health Care Professionals in various specializations.<br><br>
            Students are given a head start with the human patient simulators, which are life-like adult and pediatric mannequins. Precise internal mechanics allow the patient simulators to respond physiologically to student interventions, enabling our students to see, practice and respond to real-life patient simulations before going on real time actual patients. We also encourage our students to participate in other clinical activities in our affiliated hospitals. 
            </p>

      </div>
    </div>

    <div class="container">
        <h2 class="text-center my-4">MALLIGE HOSPITAL</h2>
        <p class="text-justify">
            Mallige Hospital is a multispecialty tertiary care Hospital established in 1978, earlier known as Karnataka Medical Relief and Research Centre having a capacity of 125 beds, conveniently located in the prime location of Bangalore.<br><br>
               Mallige Hospital is a well acclaimed Hospital known for his dedication in providing higher quality treatment and services at affordable cost there by making high standard healthcare a reality for people of all levels. The organization is working to transform healthcare into a high-performance system by finding innovative solutions that improve quality at affordable costs and accelerating their adoption on a national scale.<br><br>
                The Center which has completed 42 Years in the Health Care Industry collaborates with stakeholders across the healthcare system and engages in partnering for innovations, research and technology. There are over 60 leading specialists in various areas of specialization such as General medicine, General Surgery, Gynaecology, Paediatrics, Cardiology, Neurology, Nephrology, Gastroenterology, Immunology, Pulmonology, Endocrinology, Oncology, Neurosurgery, Orthopaedics, ENT, Ophthalmology, Dermatology, Urology, Andrology, Laparoscopic Surgery, Bariatric Surgery and more.<br><br>
                  Mallige Medical Centre is open 24 hours for accidents and emergencies like trauma, heart ailments, burns and other medical conditions. The diagnostics facilities and pharmacy also provide services round the clock.
     </p>

     <h4>Affiliated Hospitals:</h4><p>
        National Institute of Mental Health and Neuro Sciences (NIMHANS), Bangalore<br>
        Cadabams Hospitals<br>
        Primary Health Center, Hesarghatta<br>
        Indira Gandhi Institute of Child Health, Bangalore
        </p>
    </div>