@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');
body{margin-top:20px;
    background:#eee;
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .img-md {
        width: 4rem;
        height: 4rem;
    }
    .btn-link {
        transition-property: color,background-color;
        box-shadow: none;
        border-radius: 0;
        text-decoration: none!important;
    }
    .btn-info
    {
        background-color:#1CB582
    }
    h3{
        font-family: 'Bebas Neue', sans-serif;
    color:#1CB582
    }
    .card-body
    {
        padding-left: 70px;
    }
    .footer
    {
        margin-left:-55px
    }
    .modal
    {
  
        margin-top: 100px;
    }
    .table
    {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    td{
        color:forestgreen;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .h5{
        color: #1CB582;
    }
    .modal-title
    {
        color:#1CB582
    }