<app-banner [title]="'Affiliations'"></app-banner>
<div class="container">
    <div class="row my-5">
<div class=" col-md-6 one">

    <h3>Affiliated to <span class="principals mx-3">Rajiv Gandhi University of Health Sciences, Bangalore</span> </h3>

<div class="principal d-flex justify-content-center my-4">

<img src="assets/rajeev-gandhi.png" class="princi"data-aos="flip-up"data-aos-duration="2000" style="width:30%;">
<div class="div mx-3"data-aos="fade-left" data-aos-duration="2000" >

</div>

</div>

<div class="message my-4 mx-3"data-aos="fade-up" data-aos-duration="2000">
    <p class="text-justify">
        Rajiv Gandhi University of Health Sciences, (RGUHS), established by an Rajiv Gandhi University of Health Sciences Act of 1994, passed by Karnataka Legislature is dedicated to the motto of “Right for Rightful Health Science Education”. It is an affiliating, teaching and a research University, headquartered in Bangalore.

     
</div>
</div>


<div class=" col-md-6">

    <h3>Approved by the <span class="principals mx-3">Indian Nursing Council, New Delhi</span> </h3>

<div class="principal d-flex justify-content-center my-4">

<img src="assets/indian-nursing-council.png" class="princi"data-aos="flip-up" data-aos-duration="2000" >
<div class="div mx-3"data-aos="fade-left" data-aos-duration="2000" >

</div>

</div>

<div class="message my-4 mx-3"data-aos="fade-up" data-aos-duration="2000">
    <p class="text-justify">
        The Indian Nursing Council is a national regulatory body for nurses and nurse education in India. It is an autonomous body under the Government of India, Ministry of Health & Family Welfare, constituted by the Central Government under section 3(1) of the Indian Nursing Council Act, 1947 of Indian parliament.


     
</div>
</div>



<div class=" col-md-6 ">

    <h3>Approved by the <span class="principals mx-3">Karnataka Nursing Council, Bangalore</span> </h3>

<div class="principal d-flex justify-content-center my-4">

<img src="assets/karnataka-nusing-council.png" class="princi"data-aos="flip-up" data-aos-duration="2000"style="width:35%;">
<div class="div mx-3"data-aos="fade-left" data-aos-duration="2000" >

</div>

</div>

<div class="message my-4 mx-3"data-aos="fade-up" data-aos-duration="2000">
    <p class="text-justify">
        The Karnataka State Nursing Council was constituted in the year 1971 under the authority of Karnataka Nurses, Midwives & Health Visitors Act of 1961. The Council is an Autonomous Statutory Registration body for qualified Nurses, Midwives, ANM's and Health Visitors.


     
</div>
</div>


<div class=" col-md-6 one">

    <h3>Recognised by the <span class="principals mx-3">Government of Karnataka (GOK)</span> </h3>

<div class="principal d-flex justify-content-center my-4">

<img src="assets/gok.png" class="princi"data-aos="flip-up" data-aos-duration="2000">
<div class="div mx-3"data-aos="fade-left" data-aos-duration="2000" >

</div>

</div>

<div class="message my-4 mx-3"data-aos="fade-up" data-aos-duration="2000">
    <p class="text-justify">
        Mallige College of nursing is recognised by Government of Karnataka.
  
     
</div>
</div>






</div>


</div>