<app-banner [title]="'Msc Program'"></app-banner>

<body>
    <div class="container">
      <h2 class="text-center my-4">Course Details</h2>
  
      <div class="row">
        <div class="col-md-6">
          <div class="course-image" >
            <img src="assets/HOSPITAL 3.jpg" alt="Course Image">
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-justify">Mallige College of Nursing offers an M.Sc Nursing course, spanning a duration of 2 years. The annual intake includes specializations in Medical Surgical Nursing, Child Health Nursing, and Community Health Nursing, with each specialization accepting 5 students. This postgraduate program is affiliated with RGUHS.
            <br><br>
 The selection process is primarily based on merit, and prospective students must also appear for an Entrance Exam, which will be held at a date and venue communicated by the respective department or institution.
            <br><br>
            Furthermore, To complete the admission procedure, applicants are expected to submit a completed application form along with photocopies of several essential documents, including their 10th/SSLC Marks Certificate, 10+2/HSC/PUC Marks Certificate, Transfer Certificate, Conduct Certificate, Migration Certificate, Aadhar Card Copy, and Degree Marks Sheets.
           </p>
  
         
  
        </div>
      </div>
  
      <div class="container my-3">
        <h2 class="text-center my-4">Specializations</h2>
        <div class="syllabus" data-aos="fade-up" data-aos-duration="2000">
          <div class="card-container">
            <div class="card">
              <h4>M.Sc. in Medical Surgical Nursing
              </h4>
              <p>Medical Surgical Nursing focuses on providing specialized care to patients undergoing surgical procedures and managing complex medical conditions.</p>
            </div>
            <div class="card">
              <h4>M.Sc. in Community Health Nursing</h4>
              <p>Community Health Nursing involves promoting and maintaining the health of communities and populations and providing preventive and primary care services.</p>
            </div>
            <div class="card">
              <h4>M.Sc. in Paediatric Nursing</h4>
              <p>Child Health Nursing is dedicated to the healthcare needs of infants, children, and adolescents, emphasizing their growth, development, and well-being.</p>
            </div>
          </div>
        </div>
      </div>
      