@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@800&display=swap');
.active
{
    
    color: purple !important;
    
}
.nav-item a {

    font-family: 'Domine', serif;
}
body
{
    background-color: rgb(252, 255, 255)!important;
}

