<app-banner [title]="'Laboratory'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/LAB 1.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="text-center my-4">Laboratory</h2>
        <p class="text-justify">The laboratories are completely equipped with items required as per in norms. All the laboratories are constructed with keeping in mind their compatibility as each laboratory is equipped with fresh air inlet and adequate space to accommodate students comfortably during their practical hours.
            <br><br>If there is one thing that the student communities across the world would agree, it would be about how monotonous learning theory alone can be. Students are constantly bombarded with the information and would feel cramped. The laboratories in Mallige can be closely compared to the playground as the students are welcome to test their theory under the close guidance of our expert teachers and lab faculty.
             
            </p>

      </div>
    </div>