<!-- <app-banner [title]="'Placements'"></app-banner>
<div class="title my-5 text-center">
<h2>Our Esteemed Recruiters</h2></div>
<div class="slider">
    
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>

<div class="title my-5 text-center">
    <h2>Our Placement Records</h2></div>
<div class="container my-5">
    <canvas #placementChart width="300" height="100" ></canvas>
  </div>
  <div class="title my-5 text-center">
    <h2>Department Wise Records of year 2023</h2></div>
  <div class="container my-5">
    <canvas #DeptChart ></canvas>
  </div>
   -->


   <app-banner [title]="'Placements'"></app-banner>
<div class="container">
    <h2 class="text-center my-4"></h2>

    <div class="row">
      <div class="col-md-6">
        <div class="course-image" >
          <img src="assets/placements.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify"><em class="text-warning">100% placement guaranteed after successful completion of the course.</em><br><br>
            Our alumni are open to choose career in our Own Hospital and our first priority for recruitment is always for our students. We also ensure that our students are given the best annual package as per market standard when they start their career with us. Our Institution is also having placement center which provides information, guidance and support for placement in other reputed hospitals and conducts regular training, tests and pre placement advisory services. It acts as a connecting link between our students and various other reputed Hospitals and guide in building a successful career and future.<br><br>
           Most of Our alumni are currently pursuing their career in our own Hospital, other well reputed Hospitals, Health Care Centers and Institutions in Indian and abroad.

             
            </p>

      </div>
    </div>